<h1>{{ name }}</h1>

<dl>
  <td>Nombre</td>
  <dd>{{ name }}</dd>
</dl>

<dl>
  <td>Edad</td>
  <dd>{{ age }}</dd>
</dl>

<dl>
  <td>Metodo</td>
  <dd>{{ getHeroDEscription() }}</dd>
</dl>

<dl>
  <td>Capitalizado</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
*ngIf="name !== 'wolverine'"
  (click)="changeHero('wolverine')" class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
*ngIf="age === 45"
  (click)="changeAge(40)" class="btn btn-primary">
  Cambiar Edad
</button>

<button
  (click)="reset()">
  Reset
</button>

