<h3>listado de heroes</h3>

<h3
  *ngIf="!!deletedHero; else nothingWasDeleted"> Heroe borrado <small class="text-danger">
  {{ deletedHero }}
</small></h3>

<ng-template #nothingWasDeleted>
  <h3>no ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length !==0 "
  (click)="removeFirstHero()"
  class="btn btn-outline-primary m-2">
  borrar el primer Heroe
</button>


<button
  *ngIf="heroNames.length !==0 "
  (click)="removelastHero()"
  type="button"
  class="btn btn-outline-danger">
  Borrar el ultimo heroe
</button>
<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item">
    {{name}}
  </li>
</ul>
